<div<div class="col-sm-8 col-sm-offset-2 mainTextArea">
	
<h2>About</h2>
<p>Ahhh! What is a bog you ask?? Well let me just tell you!</p>
<p>A bog is a mire that accumulates peat, a deposit of dead plant material—often mosses, and in a majority of cases, sphagnum moss.[1] It is one of the four main types of wetlands. Other names for bogs include mire, quagmire, and muskeg; alkaline mires are called fens. They are frequently covered in ericaceous shrubs rooted in the sphagnum moss and peat. The gradual accumulation of decayed plant material in a bog functions as a carbon sink.[2]

Bogs occur where the water at the ground surface is acidic and low in nutrients. In some cases, the water is derived entirely from precipitation, in which case they are termed ombrotrophic (rain-fed). Water flowing out of bogs has a characteristic brown colour, which comes from dissolved peat tannins. In general, the low fertility and cool climate results in relatively slow plant growth, but decay is even slower owing to the saturated soil. Hence peat accumulates. Large areas of landscape can be covered many metres deep in peat.[3][4]

Bogs have distinctive assemblages of plant and animal species, and are of high importance for biodiversity, particularly in landscapes that are otherwise settled and farmed.</p>
</div>